<link rel="stylesheet" href="styles.css">
   <header>
    <nav>
        <a href="home.html">Home</a>
        <a href="contact.html">Contact</a>
    </nav>
    </header>
    <main>
        <h1> An HTML project</h1>
        <p>
            I'm learing HTML. This is the first step in being a full-stack developer.
            by the end of the week, I will have built my first full-stack applcation!
        </p>
        <p>
            My favorite search engine is 
            <a href="https://duckduckgo.com">duckDuckGo</a>
        </p>
        <div class = "my-grid">
        <div class = "has-blue-background" >Box 1</div>
        <div class = "has-yellow-background">Box 2</div>
        <div class = "has-yellow-background">Box 3</div>
        <div class = "has-blue-background">Box 4</div>
        </div>
    </main>
    <footer>
        <div>Copyright 1982 by me!</div>
        <div> i like cookies</div>
    </footer>

