<link rel="stylesheet" href="styles.css">
<header>
    <h1> Daniel Gay</h1>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>This is attempt 01 </h1>
    <p>
        unfortunetly im not one of the more creative people so thank you for bearing with me. But while you are Here
        I do apprecieate you taking the time to read this all I mean really wow you really are hanging on for a long time
        there is nothing here for you seriusly move on
    </p>
    <p>
        I should probably have somthing else that does work
        but wee so thats going to be fun
    </p>
</main>
<footer>
    <div>copyright 1982 by me!</div>
    <div> i like cookies</div>
</footer>
